.amountCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
  background-color: var(--main-color);
}

.card {
  flex: 1 1 calc(50% - 20px); /* 2 per row */
  background-color: #e9f2fc;
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
}

.cardIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.cardTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #08306b;
  margin-bottom: 10px;
}

.cardDescription {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08306b;
}

/* Responsive: 1 card per row on mobile */
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }
}
