.container {
  padding: 50px;
  background-color: #e9f2fc;
}

.content {
  flex: 1;
  margin-right: 20px;
  background-color: var(--main-color);
  flex-wrap: wrap;
  padding: 40px;
  gap: 30px;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

.styledContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 45%;
  flex: 1;
}

.content.contentReverse {
  flex-direction: row-reverse;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  color: #08306b;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-2xl);
  color: #08306b;
  text-align: center;
  max-width: 50%;
  margin: auto;
  margin-bottom: 5rem;
}

.listTitle {
  color: #fff;
}
.list {
  max-width: 500px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-2xl);
  line-height: 24px;
  margin-bottom: 20px;
  text-align: left;
}
.border {
  border-bottom: 1px solid white;
}

.points {
  list-style: none;
  padding: 0;
}

.points li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  color: #08306b;
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-3xl);
  line-height: 22px;
}

.tick {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 2px;
  color: white;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 45%;
  max-height: 450px;
}

.image {
  width: 100%;
  object-fit: contain;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 12px;
}
.sideList {
  background-color: #002b5b;
  color: white;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
}

.sideTitle {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.sideListContent {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 0;
  /* max-width: 60%; */
  margin: auto;
}

.sideListContent .coreItems {
  display: flex;
  align-items: center;
  font-size: var(--font-size-2xl);
  color: #fff;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.sideListContent .coreItems:nth-child(even) {
  padding-left: 2rem;
}
.sideListContent .coreItems:nth-child(odd) {
  padding-right: 2rem;
}

.sideListContent img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: 4px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f7fc;
  padding: 40px 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.footerText {
  width: 30%;
}

.footerText h4 {
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: #002b5b;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 250px;
}

.logoBox {
  background-color: #002b5b;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: 600;
  font-size: var(--font-size-6xl);
  width: 100%;
  height: 100%;
  flex: 1;
  display: grid;
  place-items: center;
}

/* Rhe
esponsive */

@media (max-width: 1024px) {
  .content,
  .content.contentReverse {
    margin-right: 0;
    flex-direction: column-reverse;
  }

  .styledContainer,
  .imageWrapper {
    max-width: 100%;
  }

  .footer {
    justify-content: space-between;
  }
  .footerText,
  .footerLogo {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 50px 1rem;
  }

  .points li {
    justify-content: center;
    text-align: left;
  }

  .sideListContent {
    grid-template-columns: 1fr;
  }
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 40px 1rem;
  }

  .footerText,
  .footerLogo {
    width: 100%;
    flex: unset;
  }

  .subtitle {
    max-width: 100%;
  }
  .sideListContent .coreItems:nth-child(even) {
    padding-left: 0;
  }
  .sideListContent .coreItems:nth-child(odd) {
    padding-right: 0;
  }
}
