.ParaImageRingContainer {
  display: flex;
  align-items: center;
  background-color: var(--main-color); /* Dark blue */
  padding: 50px;
  gap: 40px;
  color: white;
  font-family: var(--font-ubuntu);
}
.ParaImageRing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.imageWrapper {
  position: relative;
}

.signature {
  position: absolute;
  top: 40px;
  font-family: var(--font-island-moments);
  font-size: 5rem;
  color: white;
  z-index: 2;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  background-color: var(--main-color);
  padding-bottom: 10px;
}

.signature span {
  font-size: 1.5rem;
  font-family: var(--font-ubuntu);
}

.ring {
  width: 30vw;
  height: 30vw;
  border: 10px solid white;
  border-radius: 40px
}

.profileImg {
    width: 32vw;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 90px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -8px;

}

.info {
  flex: 1;
  width: 50%;
}

.title {
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 50px;
}

.description {
  font-family: var(--font-inter);
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 300;
  text-align: justify;
  width: 80%;
}
