.careerHomeNav {
  display: flex;
  align-items: center;
  background: #f7fbff;
  padding: 20px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  gap: 30px;
}
.careerLogo {
  height: 48px;
  width: auto;
}
.careerNavItem {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #08306b;
  margin: 0 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  transition: color 0.2s;
}
.careerNavItem:hover {
  color: #026331;
}
.text {
  font-size: 1.125rem; /* 18px */
}
.careerHeroText {
  font-family: var(--font-inter);
  font-size: var(--font-size-lg); /* 18px */
  font-weight: 400;
  color: #026331;
}
