.ServiceCheckContainer {
  background-color: #e9f2fc;
  width: 100vw;
  padding: 50px;
}

.ServiceCheckContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.ServiceCheckContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.ServiceCheckTitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--font-size-6xl); /* 45px */
  font-weight: 600;
  color: #08306b;
  line-height: 100%;
  letter-spacing: 0%;
}

.ServiceCheckRight {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 40%;
}

.ServiceCheckRightTitle {
  font-family: 'Inter';
  font-size: var(--font-size-2xl); /* 22px */
  font-weight: 700;
  line-height: 35px;
  color: #08306b;
  text-align: justify;
}

.ServiceCheckRightButton {
  background-color: #026331;
  color: #f7fbff;
  border: none;
  padding: 18px 40px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.ServiceCheckRightButton p {
  font-family: 'Palanquin Dark';
  font-size: var(--font-size-xl); /* 20px */
  line-height: 100%;
  letter-spacing: 0%;
  color: #f7fbff;
}


@media (max-width: 767px) {
  .ServiceCheckContainer, .ServiceCheckContent {
    flex-direction: column;
  }
  .ServiceCheckRight, .ServiceCheckContent {
    width: 100%;
  }
  .ServiceCheckRight {
    align-items: center;
  }
  .ServiceCheckRightTitle {
    text-align: center;
  }

  .ServiceCheckRightButton p {
    font-size: var(--font-size-3xl);
  }
}