.ServingContainer {
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100vw;
}

.ServingContent {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServingTitle {
  font-family: 'Ubuntu';
  font-size: var(--font-size-6xl); /* 45px */
  font-weight: 700;
  line-height: 40px;
  color: var(--main-color);
}

.ServingCardContainer {
  width: 50%;
  background-color: #e9f2fc;
  display: flex;
  padding: 30px 40px;
  border-radius: 60px;
  gap: 4rem;
}

.ServingCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 250px;
}

.ServingCardImage1 {
  width: 90px;
  height: 90px;
}

.ServingCardContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServingCardContent p {
  font-family: 'Inter';
  font-size: var(--font-size-xl); /* 20px */
  font-weight: 700;
  line-height: 30px;
  color: var(--main-color);
}

.ServingCardStarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServingCardStarContainer img {
  width: 15px;
  height: 15px;
  filter: brightness(0) saturate(100%) invert(26%) sepia(99%) saturate(749%) hue-rotate(91deg)
    brightness(93%) contrast(92%);
}

.name {
  font-family: 'Inter';
  font-size: var(--font-size-base); /* 16px */
  font-weight: 500;
  line-height: 30px;
  color: var(--main-color);
  text-align: center;
}

.title {
  font-size: 2.8125rem; /* 45px */
}
.subtitle {
  font-size: 1.25rem; /* 20px */
}
.text {
  font-size: 1rem; /* 16px */
}

.ServingHeadTitle {
  font-family: 'Ubuntu';
  font-size: var(--font-size-6xl); /* 45px */
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.ServingContentCard p {
  font-family: 'Ubuntu';
  font-size: var(--font-size-xl); /* 20px */
  font-weight: 400;
  color: #f7fbff;
}

.ServingContentCard span {
  font-family: 'Inter';
  font-size: var(--font-size-base); /* 16px */
  font-weight: 400;
  color: #f7fbff;
}
