.AdministrativeCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
  background-color: var(--main-color);
}

.card {
  flex: 1 1 calc(50% - 20px); /* 2 per row */
  background-color: #08519c;
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.cardTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: white;
  margin-bottom: 10px;
}

.cardDescription {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08306b;
}

/* Responsive: 1 card per row on mobile */
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }
}
