.GreenBoxContainer {
  width: 100vw;
  background-color: #026331;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.GreenBoxHead {
  font-family: 'Ubuntu';
  color: #fff;
  font-size: var(--font-size-4xl); /* 1.5rem = 24px */
  font-weight: 600;
  text-align: center;
}

.GreenBoxText {
  font-family: 'Inter';
  color: #fff;
  font-size: var(--font-size-xl); /* 1rem = 16px */
  text-align: center;
}

.GreenBoxImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.GreenBoxLikes {
  font-family: 'Inter';
  color: #fff;
  font-size: var(--font-size-base); /* 16px */
  font-weight: 600;
}

.GreenBoxCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 70%;
}

@media (max-width: 767px) {
  .GreenBoxContainer {
    padding: 50px 1rem;
  }
  .GreenBoxHead {
    font-size: var(--font-size-6xl); /* 1.5rem = 24px */
  }
  .GreenBoxText {
    font-size: var(--font-size-3xl); /* 1rem = 16px */
  }
  .GreenBoxLikes {
    font-size: var(--font-size-3xl); /* 16px */
  }
}
