.GreenBoxContainer {
  width: 100vw;
  background-color: #026331;
  display: flex;
  padding: 50px;
  flex-direction: column;
  gap: 20px;
}

.GreenBoxHead {
  font-family: var(--font-ubuntu);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.GreenBoxText {
  font-family: var(--font-inter);
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.GreenBoxImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
