.payoutCardContainer {
  width: 100vw;
  background-color: #e9f2fc;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.CardContainer {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--main-color);
  padding: 40px;
  border-radius: 30px;
}

.CradHead {
  font-family: "Ubuntu";
  font-size: var(--font-size-2xl); /* 24px */
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.CradPara {
  font-family: "Inter";
  font-size: var(--font-size-base); /* 16px */
  font-weight: 400;
  color: #fff;
  text-align: center;
}
