.NewBussinessContainer {
  /* width: 100vw; */
  height: 100vh;
  background-color: #f7fbff;
  padding: 0 50px;
  position: relative; /* for absolute positioning of the image */
  overflow: hidden;
}

.NewBussinessHead {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  position: relative;
  z-index: 2;
  width: 50%;
  text-align: center;
}

.NewBussinessHeadTitle {
  font-family: "Ubuntu";  
  font-size: var(--font-size-7xl); /* 3.125rem = 50px */
  font-weight: 700;
  line-height: 50px;
  color: var(--main-color);
}

.NewBussinessContent {
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.NewBussinessImageContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 1000px;
  z-index: 1;
}

.NewBussinessImageContainer img {
  /* width: 300px; */
  height: 45%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.NewBussinessContentRight {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-left: auto;
  margin-right: 5%;
  z-index: 2;
}

.NewBussinessContentCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* ✅ card shadow */
}

.NewBussinessContentCard p {
  font-family: "Ubuntu";
  font-size: var(--font-size-xl); /* 1.25rem = 20px */
  font-weight: 400;
  color: #f7fbff;
}

.NewBussinessContentCard img {
  width: 30px;
  height: 30px;
  background-color: #f7fbff;
  margin-left: 20px;
}

@media (width: 1024px) and (height: 768px) {
  .NewBussinessContainer {
    height: 79vh;
  }
}

@media (width: 1280px) and (height: 800px) {
  .NewBussinessContainer {
    height: 76vh;
  }
}

@media (width: 1280px) and (height: 768px) {
  .NewBussinessContainer {
    height: 79vh;
  }
}

@media (width: 1366px) and (height: 768px) {
  .NewBussinessContainer {
    height: 79vh;
  }
}

@media (width: 1680px) and (height: 1050px) {
  .NewBussinessContainer {
    height: 80vh;
  }
  .NewBussinessImageContainer img {
    height: 68%;
  }
}