.QuestiomContainer {
  width: 100vw;
  padding: 50px;
}

.QuestiomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 25px;
}
.QuestiomHeader h1 {
  font-size: var(--font-size-2xl); /* 24px */
  color: white;
  width: fit-content;
  margin: 0;
}
.QuestiomHeader button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.QuestiomInputContainer {
  position: relative;
}

.QuestiomInput {
      width: 100%;
    height: 34px;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: var(--font-size-lg);
    box-sizing: border-box;
    background-color: var(--main-color);
    color: white;
}
.QuestiomCardConatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.QuestiomCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  width: 90%;
  padding: 1rem;
}
.QuestiomHead {
  font-family: var(--font-ubuntu);
  font-weight: 700;
  font-size: var(--font-size-5xl); /* 40px */
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  margin-block: 20px;
  color: var(--main-color);
}
.Para {
  font-family: "Palanquin Dark";
  font-weight: 400;
  font-size: var(--font-size-base); /* 16px */
  line-height: 29px;
  color: #08306b;
  width: 60%;
  text-align: center;
}

.circleIcon {
  background: var(--main-color);
  padding: 1px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.searchIcon {
  width: 30px;
  color: #fff;
  font-weight: bold;
}