.ResourceContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7fbff;
}
.blue {
  width: 100%;
  background-color: #08306b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
}
.blue p {
  font-family: "Inter";
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
}
.HomeContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.Resourcebutton {
  background-color: #026331;
  color: white;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: var(--font-palanquin-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  margin-bottom: 20px;
}
.title {
  font-family: var(--font-ubuntu);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  margin-block: 20px;
  color: var(--main-color);
}
.description {
  font-family: var(--font-palanquin-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #08306b;
  line-height: 29px;
}
.ResourceCardContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 0;
}
.ResourceCard {
  flex: 1;
  border-radius: 12px;
  background: var(--main-color);
  color: white;
  border-radius: 40px;
}
.ResourceCardImage {
  width: 100%;
  height: 270px;
  margin-bottom: 20px;
}
.ResourceCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.ResourceCardHead {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
  margin: 1rem;
}
.ResourceCardPara {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  line-height: 24px;
  margin: 1rem;
}
.GreenCardConatainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.GreenCard {
  background: #026331;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  flex: 1
}
.GreenCard img {
  width: 40px;
  height: 40px;
}
.GreenCard h2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.navPlaceholder {
  width: 100%;
  height: 88px;
  background-color: #fff;
}