.aboutContainer {
  width: 100vw;
  background-color: #ffffff;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.aboutImage {
  width: 40%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContent {
  width: 40%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutContentTitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-5xl); /* 40px */
  line-height: 50px;
  color: #08306b;
  margin: 0;
  text-align: left;
}

.aboutContentDescription {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-base); /* 16px */
  line-height: 24px;
  color: #08306b;
  margin: 0;
  text-align: left;
}

.aboutContentButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.aboutContentButton,
.aboutContentButtonGreen {
  width: 100%;
  min-width: max-content;
  padding: 15px 30px;
  font-size: var(--font-size-base); /* 16px */
  line-height: 100%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.aboutContentButton {
  background-color: #ffff;
  color: #026331;
  border: 1px solid #026331;
}

.aboutContentButton:hover {
  background-color: #62cd95;
  border: none;
}

.aboutContentButtonGreen {
  background-color: #026331;
  color: #fff;
  border: none;
  margin-top: 20px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

:global(button),
button {
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s,
    box-shadow 0.3s,
    transform 0.2s;
}