.AccountingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #030266;
  padding: 50px;
}
.Accounting {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.AccountingButton {
  background-color: #e9f2fc;
  color: #030266;
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Palanquin', sans-serif;
  font-weight: 500;
  font-size: var(--font-size-lg);
  line-height: 30px;
  letter-spacing: 0%;
}
.AccountingTitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-5xl);
  line-height: 70px;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: center;
}

.AccountingParagraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-lg);
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: center;
}

.AccountingCardContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 32px;
  justify-content: center;
}

.AccountingCard {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
  transition: transform 0.3s ease;
}

.AccountingCard:hover {
  transform: translateY(-5px);
}

.ImageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 8px;
}

.ImageWrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.AccountingCard:hover .ImageWrapper img {
  transform: scale(1.05);
}

.CardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
  gap: 10px;
}

.CardTitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  font-size: var(--font-size-2xl);
  line-height: 40px;
  letter-spacing: 0%;
  color: #030266;
  margin: 0;
  text-align: center;
}

.arrowDiv {
  background-color: #08306b;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.arrowDiv img {
  width: 10px;
  height: 10px;
}

.LearnMoreBtn {
  margin-top: auto;
  padding: 12px 36px;
  background-color: #08306b;
  border: none;
  color: #fff;
  border-radius: 26px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.CardDescription {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-lg);
  line-height: 30px;
  text-align: center;
  letter-spacing: 0%;
  color: #030266;
  margin: 0;
}

:global(button),
button {
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s,
    box-shadow 0.3s,
    transform 0.2s;
}

