.careerContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #f7fbff;
    position: relative;
}

.leftSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 50px 50px;
    z-index: 1;
}

.contentWrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.careerButton {
    font-family: 'Ubuntu';
    font-size: 12px;
    font-weight: 700;
    color: #08306b;
    line-height: 30px;
    background: #E9F2FC;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.title {
    font-family: 'Ubuntu';
    font-size: 40px;
    font-weight: 700;
    color: #08306b;
    line-height: 50px;
}

.description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #08519C;
    margin-top: 10px;
    width: 60%;
    margin-bottom: 20px;
}

.applyButton {
    background: #026331;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 15px 45px;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'Palanquin Dark';
    font-weight: 400;
    font-size: 16px;
    width: fit-content;
}

.rightSection {
    width: 50%;
    background: #08306b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.imageWrapper {
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.backgroundImage {
    position: absolute;
    width: 230px;
    height: 300px;
    object-fit: cover;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 12px;
}

.heroImage {
    position: relative;
    width: 600px;
    height: 400px;
    object-fit: contain;
    z-index: 2;
} 