:root {
  /* Font Sizes */
  --font-size-xs: 0.75rem;    /* 12px */
  --font-size-sm: 0.875rem;   /* 14px */
  --font-size-base: 1rem;     /* 16px */
  --font-size-lg: 1.125rem;   /* 18px */
  --font-size-xl: 1.25rem;    /* 20px */  /* BUTTON TEXT MD AND ABOVE*/
  --font-size-2xl: 1.5rem;    /* 24px */ /* P TAGS ( SECTION PARAGRAPH ) */
  --font-size-3xl: 1.875rem;  /* 30px */
  --font-size-4xl: 2rem;      /* 32px */
  --font-size-5xl: 2.5rem;    /* 40px */
  --font-size-6xl: 3rem;      /* 48px */
  --font-size-7xl: 3.125rem;  /* 50px */
  --font-size-8xl: 3.438rem;  /* 55px */ /* SECTION TITLE */
  --font-size-9xl: 4rem;      /* 64px */
}

@media (min-width: 1024px) {
  html {
  font-size: 10px;
  }
}

@media (min-width: 1280px) {
  html {
  font-size: 12px;
  }
}

@media (min-width: 1366px) {
  html {
  font-size: 14px;
  }
}

@media (min-width: 1680px) {
  html {
  font-size: 16px;
  }
}

@media (min-width: 1920px) {
  html {
  font-size: 16px;
  }
}


/* Utility classes for font sizes */
.text-xs { font-size: var(--font-size-xs); }
.text-sm { font-size: var(--font-size-sm); }
.text-base { font-size: var(--font-size-base); }
.text-lg { font-size: var(--font-size-lg); }
.text-xl { font-size: var(--font-size-xl); }
.text-2xl { font-size: var(--font-size-2xl); }
.text-3xl { font-size: var(--font-size-3xl); }
.text-4xl { font-size: var(--font-size-4xl); }
.text-5xl { font-size: var(--font-size-5xl); }
.text-6xl { font-size: var(--font-size-6xl); }
.text-7xl { font-size: var(--font-size-7xl); }
.text-8xl { font-size: var(--font-size-8xl); } 