.homeBanner {
  background-color: #ffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeLeft {
  padding-top: 100px;
  width: 70%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeBannerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeRight {
  width: 30%;
  background-color: #08306b;
  height: 100%;
  position: relative;
  /* border: 2px solid red; */
}

.rightNav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.homeBannerContentTitleGreen {
  color: #026331;
  margin-inline: 10px;
  transition: opacity 0.3s ease-in-out;
}

.homeButtonWhite {
  background-color: #08306b;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #f7fbff;
  gap: 10px;
  padding: 10px;
  border-radius: 42px;
  color: #08306b;
}
.homeButtonGreen {
  background-color: #026331;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 42px;
  color: #fff;
}
.homeBannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.homeBannerContentTitle {
  font-family: "Ubuntu";
  font-size: 50px;
  font-weight: 700;
  color: #08306b;
  line-height: 60px;
  letter-spacing: 0%;
}

.homeBannerContentDescription {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.09%;
  color: #08306b;
  margin-top: 20px;
}

.homeBannerContentButton {
  background-color: #f7fbff;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px 25px 15px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #026331;
  margin-top: 20px;
  border: 1px solid #026331;
  border-radius: 50px;
  width: 60%;
}
.homeBannerContentButtonGreen {
  background-color: #026331;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: left;
  padding: 15px 25px 15px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  margin-top: 20px;
  border-radius: 50px;
  width: 60%;
}

.homeImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20%;
  bottom: 0;
  width: 100%;
  height: 70%;
  display: flex;
  margin-top: 70px;
}

.imageCard {
  position: relative;
  background-color: #e6f0fb;
  border-radius: 40px 0 0 0;
  width: 400px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.ladyImage {
  max-height: 100%;
  object-fit: cover;
  object-position: bottom;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wordSlide {
  animation: slideUpFade 0.4s ease-in-out;
  display: inline-block;
}
