.LeftRightCardWrapper {
  width: 100vw;
  background-color: #08306b;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.LeftRightCardContainer {
  width: 30%;
  min-width: 300px;
  background-color: #08306b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.LeftRightCardContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.LeftRightImageContainer {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LeftRightImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain; /* or use 'cover' depending on the visual effect you want */
}

.LeftRightHead {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-6xl); /* 44px */
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  margin: 0;
}

.LeftRightTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: var(--font-size-xl); /* 20px */
  line-height: 30px;
  letter-spacing: 0%;
  color: #f7fbff;
  margin: 0;
}
