.WhyBussinessContainer {
  width: 100vw;
  background-color: #f5f5f5;
  padding: 50px 0;
}

.WhyBussinessTitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-5xl); /* 40px */
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  color: #08306b;
  margin: 0;
}

.WhyBussinessContent {
  width: 60%;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WhyBussinessCardContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.WhyBussinessCard {
  width: 30%;
  min-width: 300px;
  background-color: #e9f2fc;
  border-radius: 35px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.3s ease;
}

.WhyBussinessCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.WhyBussinessCardImageContainer {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  row-gap: 2000px;
}
.WhyBussinessCardImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.WhyBussinessCardImage {
  display: flex;
  gap: 20px;
}

.WhyBussinessCardImageText {
  display: flex;
  flex-direction: column;
}
.WhyBussinessCardImageText p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: var(--font-size-base); /* 16px */
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  color: #282828;
}
.WhyBussinessCardImageText span {
  font-family: 'Inter';
  font-weight: 400;
  font-size: var(--font-size-sm); /* 14px */
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  color: #282828;
}
.WhyBussinessCardImage {
  margin-block: 10px;
}
.WhyBussinessCardImageDis {
  color: #08306b;
  font-family: 'Inter';
  font-weight: 400;
  font-size: var(--font-size-sm); /* 14px */
  line-height: 22px;
  letter-spacing: 0%;
  text-align: justify;
}

.WhyBussinessCardFooter {
  display: flex;
  align-items: start;
  margin-top: 30px;
  gap: 10px;
}
.name {
  font-family: 'Inter';
  font-weight: 700;
  font-size: var(--font-size-base); /* 16px */
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  color: #08306b;
  margin-bottom: 10px;
}
