.WhyBussinessContainer {
  padding: 50px;
  background-color: #f5f5f5;
  width: 100%;
}
.WhyBussinessTitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  color: #08306b;
}

.WhyBussinessContent {
  /* border: 1px solid red; */
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.WhyBussinessCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.WhyBussinessCard {
  background-color: #e9f2fc;
  border-radius: 35px;
  padding: 20px;
}
.WhyBussinessCardImageContainer {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  row-gap: 2000px;
}
.WhyBussinessCardImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.WhyBussinessCardImage {
  display: flex;
  gap: 20px;
}
